.content {
	height: 82%;

	/*
	height: -moz-calc(100% - 96px);
	height: -moz-calc(100% - 96px);
    height: -webkit-calc(100% - 96px);
	*/

	display: flex;
	background-color: white;
	text-align: left;
	position: absolute;
    max-width: 1000px;
    width: 100%;
}

.content div {
	background-color: white;
}

.container{
	display: inline-block;
	height: 100%;
}

.left {
	overflow-y: scroll;
	width: 324px;
	background-color: white;
}

.right {
	width: 76%;
	position: relative;
	background-color: white;
}

.prev_msg_container {
	background-color: white;	/* #d6e1ec */
	margin-left: 4px;
	padding: 6px;
}

.prev_msg_container .photo_img{
	width: 36px;
	height: 36px;
	background-position: center;
	background-image: url("/images/photo_50.png");
	border: 4px double #adadad;
}

.msg {

}

.prev_msg_text {
	display: inline-block;
	font-size: 15px;
	max-height: 58px;
	margin-left: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: top;
	max-width: calc(100% - 62px);
}

.prev_date_text {
	vertical-align: top;
	font-size: 9pt;
	margin-right: 2px;
	float: right;
	margin-top: 1px;
	color: #918d8d;
	min-width: 48px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 128px;
}

.prev_name_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
	vertical-align: top;
	color: #3859a8;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    float: left;
    max-width: 100%;
}

.prev_msg_headers {
	margin-bottom: 4px;
	width: 100%;
	display: inline-block;
}

.prev_msg_content {
	display: inline-block;
	width: 100%;
}

.prev_msg_end_container{
	height: 72px;
	text-align: center;
}

.msg_container {
	min-width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	display: inline-flex;
}

.main_msg_container {
	display: inline-block;
	width: 100%;
}

.main_msg_headers {

}

.dlg_user_actions {
    width: 100%;
    height: 16px;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    background-color: black;
}

.main_msg_content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.main_name_text {
    font-family: fantasy;
    font-size: 15px;
    vertical-align: top;
    color: #232323;
    display: inline;
    margin-bottom: 4px;
}

.main_msg_text {
    vertical-align: top;
    display: inline-block;
    margin-left: 12px;
    max-width: calc(100% - 62px);
    word-wrap: break-word;
    word-break: break-all;
}

.main_date_text {
	float: right;
	margin-right: 6px;
}

.main_photo_img {
	width: 42px;
	height: 42px;
	border-radius: 6px;
}

.main_msg_options{
	width: 50px;
	height: auto;
}

.messages {
	overflow-y: scroll;
	height: calc(100% - 96px);
}

.send_msg_block {
	background-color: #ecf0ff !important ;
	position: absolute;
	min-height: 96px;
	height: 96px;
	width: 100%;
	overflow: auto;
	resize: vertical;
	transform: rotate(180deg);
	max-height: 100%;
	bottom: 0px;
}

.send_msg_block textarea{
	transform: none;
	min-height: 20px;
	resize: none;
	margin-left: 14px;
	height: calc(100% - 58px);
	bottom: 24px;
	position: absolute;
}

.rotate_block {
	background-color: transparent !important;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
}

.msg_tools {
	position: absolute;
	width: 100%;
	bottom: 0;
	height:22px;
	background: aliceblue !important;
}

.send_btn{
	height: calc(100% - 28px);
	float: right;
}

.main_form {
	display: inline;
}

.send_btn_input{
	//height: 100%;
}

.main_msg_img_wrapper{
}

.msg_attachments{
    border-left: 3px #8d7b7b solid;
    width: auto;
    margin-left: 58px;
    border-top: 3px #8d7b7b  solid;
}

.msg_container_loading{
    display: none;
}

.btn_back {
    display: none;
    width: 32px;
}

.btn_back_text{
    display: none;
}


@media screen and (min-width:230px) and (max-width:568px) {

.container {
    position: absolute;
    margin-left: 0;
    width: 100%;
}

.left {
    z-index: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.right{
    display: none;
}

.main_msg_options{
    width: 0;
}

.msg_attachments{
    margin-left: 0px;
}

.btn_back{
    display: inline-block;
    width: 32px;
}


.btn_back_text{
    display: inline-block;
    vertical-align: top;
    font-size: 14pt;
    font-family: arial;
    color: white;
    margin-top: 3px;
}


}

@media screen and (min-width:36px) and (max-width:230px) {
.msg_attachments{
    width: 75%;
    margin-left: 0px;
}


.btn_back{
    display: inline-block;
    width: 32px;
}

.btn_back_text{
    display: inline-block;
    vertical-align: top;
    font-size: 14pt;
    font-family: arial;
    color: white;
    margin-top: 3px;
}

.main_photo_img{
    display: none;
}

.prev_msg_text{
    max-width: 100%;
    font-size: 11pt;
    font-family: arial;
}

.container {
    position: absolute;
    margin-left: 0;
    width: 100%;
}

.left {
    z-index: 1;
}

.logo_img{
    display: none;
}

.profile_img{
    display: none;
}

.right{
    display: none;
}


.main_msg_text {
    max-width: 100%;
}

.photo_img{
    display: none;
}

.main_msg_options{
    width: 0;
}
}
