<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/im.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://gitlab.com/meno/dropzone/-/jobs/19123676/artifacts/file/dist/dropzone.js"></script>
		<script>
		    var __cache = [];
		    var __cacheUsers = [];
		    var url_to_replace = "https://vkuk.000webhostapp.com/getcontent.php?url=";
		    var maxcount = 0;
		    var current_user = [];
		    var current_dialog = [];
		    var dialogs_offset=0,messages_offset=0;
		    var addToOffsetDlg=true,addToOffsetMsg=true;
            var oldTs=0;
            var selectedDlgUserId=0;
            var tempArrFwdMsg =[];
            var tempArrFwdMsgC=0;

           // var additionalUserIds = []; var loadMoreUsers=0;


            var lastMsgId = 0;
            var xhrLP,xhrLPH;
            var startedLongPoll = false;
            function startLongPoll(s,ts){
                startedLongPoll = true;
             //   newMessagesGetter(s,ts);
            }

            function stopLongPoll(){
                startedLongPoll = false;
                //xhrLP.abort();
            }


            function showAttachmentAlert(x,flag){
                 var ai = document.getElementById("alertInf");
                 var aic = document.getElementById("alertInfContainer");
                 var ab = document.getElementById("alertBg");
                 switch (flag){
                    case "fwd_msgs":
                        var d1 = document.createElement("div");
                        returnFwdMsgContainer(d1,tempArrFwdMsg[x],0,1);
                        aic.appendChild(d1);
                        break;
                    case "photo":
                        var i = document.createElement("img");
                        i.src = x;
                        i.style.width = "80%";
                        i.style.height = "100%";


                        aic.appendChild(i);
                        break;
                    default:
                        break;

                 }

                 ai.onclick = function() {
                        ab.style.display = "none";
                        ai.style.display = "none";
                        aic.innerHTML = "";
                 }

                 ab.style.display = "block";
                 ai.style.display = "block";
            }

			function onComplete(){
                getPrevInfo(dialogs_offset);
                var x = document.getElementsByClassName("prev_msg_container");
				if (x.length <= 4) {
					document.getElementById('end_container').style.display = 'none';
				}
				//setTimeout(newMessagesGetter(1,0), 3000);
			}

            function clearChatContainer(){
			    document.getElementById("msg_container").innerHTML = "";
            }

            function setDlgUserAction(s){
                document.getElementById("dlg_user_action").innerHTML = s;
            }

			function sel_rec_id(rid,isChat,offset){
                document.getElementById('rec_id').value = rid;
                document.getElementById('isChat').value = isChat;

                selectedDlgUserId = rid;


                var t = getInf(__cacheUsers,rid);
                if (isChat != "1") {
                    if (t["online"] != "0"){
                        setDlgUserAction("");
                    }
                    else {
                        setDlgUserAction(t["first_name"] + " offline");
                    }
                }
                else {
                    if (offset==0){
                        rid = parseInt(rid);
                        rid = rid + "";
                    }
                }

                if (isChat == 1 && offset == 0){ // Fix!!
                    loadChatUsers(rid);
                }

                if (current_dialog["rid"] !== rid) {
                    messages_offset = 0;
                    document.getElementById("msg_container").innerHTML = "";
                }
                rid = parseInt(rid);
                offset = parseInt(offset);
                current_dialog["isChat"] = isChat;
                current_dialog["rid"] = rid;
                current_dialog["offset"] = offset;

                var params = "uid=" + encodeURIComponent(rid) + "&offset=" + encodeURIComponent(offset) + "&isChat=" + encodeURIComponent(isChat);
                if (startedLongPoll) stopLongPoll();
                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/getmsg', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhr.send(params);

                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4){
                        if (!startedLongPoll){
                            startLongPoll(1,oldTs);
                        }
		                parseMsgResponse(xhr.responseText,rid,isChat);
                    }
                }

            }

            var timerLPH;
            function loadChatUsers(cid){
                var params = "cid=" + encodeURIComponent(cid);
                if (startedLongPoll) stopLongPoll();
                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/getChat', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhr.send(params);

                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4){
		                parseGetChatResponse(xhr.responseText,cid);
                    }
                }
            }

            function parseGetChatResponse(t,cid){
                var jt =  JSON.parse(t);
                var c = jt["chat"];
                var cu = jt["chat_users"];
                __cacheUsers = __cacheUsers.concat(cu);
            }

    		function parseMsgResponse(t,rid,isChat){
                var jt =  JSON.parse(t);
                var c = parseInt(jt[0]["data"]);
                maxcount = ((c > 20) ? 20 : c);

                //if (addToOffsetMsg){
                  //  addToOffsetMsg = false;
                    messages_offset += maxcount;
                //}

               // lastMsgId = jt[1]["data"]["mid"];


                for (var i=1;i<=maxcount; i++){
                    addMsgToDlg(jt[i]["data"]);
                }
                /*if (loadMoreUsers>0){
                    loadMoreUsers = 0;
                    loadUsers(additionalUserIds);
                }*/
                startedLoadingMore = false;

               // document.getElementById("msg_container_loading").style.display = "none";
            }

            function addMsgToDlg(m,pos=2){
                    var dinp = document.createElement("div");
                    dinp.className = "msg_container";

                    var divElem = document.createElement("div");
                    divElem.className = "main_msg_container";

                    var divH = document.createElement("div");
                    divH.className = "main_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "main_msg_content";

                    var divM = document.createElement("div");
                    divM.className = "main_msg_text";
                    divM.innerHTML = m["body"];

                    var dspan = document.createElement("span");
                    dspan.className = "main_date_text";

                    var dstr = parseInt(m["date"])*1000;
                    dspan.innerHTML = formatDate(new Date(dstr));

                    var nspan = document.createElement("span");
                    nspan.className = "main_name_text";


                    var s_img = document.createElement("img");
                    s_img.className = "main_photo_img";



                    var temp = getInf(__cacheUsers,m["uid"]);
                    if (/*current_user["uid"] == m["uid"] &&*/ m["out"] == "1"){
                            nspan.innerHTML = current_user["first_name"] + " " + current_user["last_name"];
                            s_img.src = current_user["photo_50"];
                    }
                    else {
                        if (temp){
                            nspan.innerHTML = temp["first_name"] + " " + temp["last_name"];
                            s_img.src = (m["uid"] == current_user["uid"]) ? temp["photo_50"] : url_to_replace + temp["photo_50"];
                        }
                        else {
                           /* if (!additionalUserIds.includes(m["uid"])){
                                additionalUserIds.push(m["uid"]);
                            }
                            loadMoreUsers++;*/
                            //load more users
                            //loadUsers(jt[i]);
                        }
                    }

                    var divO = document.createElement("div");
                    divO.className = "main_msg_options";

                    var divI = document.createElement("div");
                    divI.className = "main_msg_img_wrapper";

                    divI.appendChild(s_img);
                    divI.appendChild(divM);

                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(divI);

                    divElem.appendChild(divH);
                    divElem.appendChild(divC);

                    dinp.appendChild(divO);
                    dinp.appendChild(divElem);

                    if (typeof m["fwd_messages"] != 'undefined'){
                        var a = m["fwd_messages"];
                        for (var i1=0; i1<a.length; i1++){
                            returnFwdMsgContainer(divI,a,i1,0);
                        }
                    }

                    if (typeof m["attachments"] != 'undefined'){
                        var att = parseAttachment(m["attachments"]);
                        divI.appendChild(document.createElement("br"));
                        divI.appendChild(att);
                    }

                    var msgct = document.getElementById('msg_container');
                    if (pos == 1){
                        try{
                            msgct.insertBefore(dinp,msgct.getElementsByClassName("msg_container")[0]);
                        }
                        catch (e){
                            msgct.appendChild(dinp);
                        }
                    }
                    else {
                        msgct.appendChild(dinp);
                    }
            }

            function returnFwdMsgContainer(divI,a,i1,RecursiveParse){
                var divF = document.createElement("div");
                            divF.className = "msg_attachments";
                            var divFC = document.createElement("div");
                            divFC.className = "msg_attachments_content";
                            var imgFM = document.createElement("img");
                            var usr;
                            /*if (RecursiveParse == 1){
                                alert(a[i1]["uid"]);
                            }*/




                            usr = getInf(__cacheUsers,a[i1]["uid"]);
                            if (typeof usr == 'undefined'){
                                usr = [];
                                usr["first_name"] = 'f-name';
                                usr["last_name"] = "l-name";
                                usr["photo_50"] = 'photo';
                            }
                            imgFM.src = url_to_replace + usr["photo_50"];
                            imgFM.className = "main_photo_img";

                            var fm_main_div =  document.createElement("div");
                            fm_main_div.className = "fwd_message_main" ;
                            var fm_main_div_name =  document.createElement("div");
                            fm_main_div_name.className = "main_name_text";
                            fm_main_div_name.innerHTML = usr["first_name"] + " " + usr["last_name"];

                            var fm_main_div_text =  document.createElement("div");
                            fm_main_div_text.className = "fwd_message_main_text";
                            fm_main_div_text.innerHTML = a[i1]["body"];





                            if (typeof a[i1]["attachments"] != "undefined"){
                               try{
                                   var dA = parseAttachment(a[i1]["attachments"]);
                                   dA.style.marginLeft = 0;
                                    fm_main_div_text.appendChild(dA);
                                }
                                catch(e) {
                                    fm_main_div_text.innerHTML = "<br><a style='color: blue'>Attachments</a>";
                                }
                            }


                            if (typeof a[i1]["fwd_messages"] != "undefined"){
                                if (RecursiveParse == 0){
                                    var d1 = document.createElement("div");
                                    d1.style.display = 'none';
                                    d1.innerHTML = a[i1];
                                    fm_main_div_text.appendChild(d1);
                                    tempArrFwdMsg[tempArrFwdMsgC] = a;
                                    fm_main_div_text.innerHTML += "<br><a style='color: blue' onclick=" + "showAttachmentAlert("  + tempArrFwdMsgC++ + ",'fwd_msgs');" +  ">Forwarded messages</a>";
                                }
                                else {
                                    var k = a[i1]["fwd_messages"].length;
                                    for (var i2=0;i2<k;i2++){
                                        returnFwdMsgContainer(fm_main_div_text,a[i1]["fwd_messages"],i2,1);
                                    }
                                }

                            }


                            fm_main_div.appendChild(fm_main_div_name);
                            fm_main_div.appendChild(fm_main_div_text);


                            var fm_date_div = document.createElement("div");
                            fm_date_div.className = "fwd_message_date";
                            var d1 = new Date(parseInt(a[i1]["date"]*1000));
                            fm_date_div.innerHTML = '<span class="main_date_text">' + formatDate(d1) + '</span>';


                            //parseInt(a[i1]["date"])*1000;
                            divFC.appendChild(imgFM);
                            divFC.appendChild(fm_main_div);
                            divFC.appendChild(fm_date_div);


                            divF.appendChild(divFC);
                            divI.appendChild(document.createElement("br"));
                            divI.appendChild(divF);



            }

            function parseAttachment(m){
                        var a = m;
                        var divF = document.createElement("div");
                        divF.className = "msg_attachments";
                        for (var i1=0; i1<a.length; i1++){
                             switch (a[i1]["type"]){
                                 case "photo":
                                     var img1 = document.createElement("img");
                                     img1.setAttribute("large",url_to_replace + a[i1]["photo"]["src_big"]);
                                     img1.src = url_to_replace + a[i1]["photo"]["src"];
                                     img1.style.marginLeft = "10px";
                                     divF.appendChild(img1);
                                     img1.onclick = function(){
                                         showAttachmentAlert(this.getAttribute("large"),"photo");
                                     }
                                     break;
                                 case "doc":
                                     if (typeof a[i1]["doc"]["gift"] != 'undefined'){
                                         //it's maybe a gift
                                         var img1 = document.createElement("img");
                                        img1.setAttribute("large",url_to_replace + a[i1]["photo"]["src_big"]);
                                         img1.src = url_to_replace + a[i1]["photo"]["src"];
                                        img1.style.marginLeft = "10px";
                                        divF.appendChild(img1);
                                        img1.onclick = function(){
                                             showAttachmentAlert(this.getAttribute("large"),"photo");
                                        }
                                     }
                                     else {
                                        var a1 = document.createElement("audio");
                                         a1.setAttribute("controls","");
                                         var source = document.createElement("source");
                                         source.src = url_to_replace + a[i1]["doc"]["url"];
                                         source.type = "audio/ogg; codecs=vorbis";
                                         a1.appendChild(source);
                                         divF.appendChild(a1);
                                     }
                                     break;
                                case "wall":
                                        var dN = parseAttachment(a[i1]["wall"]["attachments"]);
                                        divF.appendChild(dN);
                                    break;
                                 default:
                                     break;
                             }
                        }
                        return divF;
            }


            function loadUsers(arr){
                //just don't give a fuck
                var xhr = new XMLHttpRequest();

                if (startedLongPoll) stopLongPoll();

		        xhr.onreadystatechange = function(){
		            parseLoadingUsers(xhr.responseText);
		        };
                xhr.open('GET', '/getUsers?r=' + Math.random() + "&uids=" + arr.join(), true);

		        xhr.send();
            }

            function parseLoadingUsers(t){
            /*    additionalUserIds = [];
                var jt = JSON.parse(t);
                __cacheUsers.concat(jt);*/
            }


			function getPrevInfo(dialogsOffset){
                var xhr = new XMLHttpRequest();

                if (xhrLP){
                    stopLongPoll();
                }

		        xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4){
                        parseMsgInfoPrev(xhr.responseText);
		                startedUpdating=false;
                    }
		        };
                xhr.open('GET', '/execute?r=' + Math.random() + "&dialogsOffset=" + dialogsOffset, true);

		        xhr.send();
/*
		        if (xhr.status != 200) {
                  // обработать ошибку
                  parseMsgInfoPrev(xhr.responseText);
                  //alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
                } else {
                  // вывести результат
                  parseMsgInfoPrev(xhr.responseText);
                }*/
			}

			function sendMsg(id,txt,isChat){
                var params = "msg=" + encodeURIComponent(txt) + "&toid=" + encodeURIComponent(parseInt(id)) + "&isChat=" + encodeURIComponent(parseInt(isChat)) ;
			    var xhr = new XMLHttpRequest();
			    stopLongPoll();

                xhr.open('POST', '/im', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhr.send(params);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState == 4){
                        parseSendMsgResponse(xhr.responseText,txt,id);
                        startLongPoll(1,oldTs);
                    }
                }

			}

			function parseSendMsgResponse(r,txt,id){
			   if (typeof parseInt(r) !== "undefined"){
			       /*//OK
			        //addMsg(r,txt,current_user);

			        m = [];
                    m["body"] = txt;
                    m["uid"] = id;
                    m["mid"] = r;
                    m["date"] = "444444444";
                    var i = checkAddedMsgById(m["uid"]);
                    updatePrevMsg(m,i);
                    upPrevMsg(i);*/
			       document.getElementById("msgtxt").value="";

			   }
			   else {
			       addMsg(-r,txt,current_user);
			       document.getElementById("msgtxt").value="";
			       //ERR
			   }
			}

			function addMsg(r,txt,u){
                    var dinp = document.createElement("div");
                    dinp.className = "msg_container";

			        if (r<0) dinp.style.color = "red";
                    var divElem = document.createElement("div");
                    divElem.className = "main_msg_container";

                    var divH = document.createElement("div");
                    divH.className = "main_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "main_msg_content";

                    var divM = document.createElement("div");
                    divM.className = "main_msg_text";
                    divM.innerHTML = txt;

                    var dspan = document.createElement("span");
                    dspan.className = "main_date_text";

                    dspan.innerHTML = formatDate(new Date());

                    var nspan = document.createElement("span");
                    nspan.className = "main_name_text";
                    nspan.innerHTML = u["first_name"] + " " + u["last_name"];

                    var s_img = document.createElement("img");
                    s_img.className = "main_photo_img";
                    s_img.src = u["photo_50"];

                    if (u["online"] != "0"){
                        setOnline(s_img,1,u["uid"]); //////
                    }

                    var divO = document.createElement("div");
                    divO.className = "main_msg_options";

                    var divI = document.createElement("div");
                    divI.className = "main_msg_img_wrapper";


                    divI.appendChild(s_img);
                    divI.appendChild(divM);

                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(divI);

                    divElem.appendChild(divH);
                    divElem.appendChild(divC);

                    dinp.appendChild(divO);
                    dinp.appendChild(divElem);

                    if (r<0){

                    }

                    var main_c = document.getElementById('msg_container');
                    main_c.insertBefore(dinp,main_c.children[0]);
			}


            var addedCacheFirstMsgPrev = false;
			function parseMsgInfoPrev(t){
                var jt = JSON.parse(t);
                var msgs = jt["msgs"];
                var users = jt["users"];
                var me = jt["me"][0];
                parseMyPrevInfo(me);
            //    if (addedCacheFirstMsgPrev == false) {
                __cacheUsers = __cacheUsers.concat(users);
            //        addedCacheFirstMsgPrev == true }
                parsePrevMsg(msgs);
                startedLoadingMoreDlgs = false;
            }

            function parseMyPrevInfo(me){
                current_user["first_name"] = me["first_name"];
		        current_user["last_name"] = me["last_name"];
		        current_user["uid"] = me["uid"];
		        current_user["online"] = me["online"];

		        current_user["photo_50"] = ("/images/camera_50.png" != me["photo_50"]) ? url_to_replace + me["photo_50"] : me["photo_50"];
		        document.getElementById("my_img").src = current_user["photo_50"];
            }

            function setOnline(img,st,id){
                    var user =  getInf(__cacheUsers,id);
                    if (st == 1 || st == "1"){
                        img.style.borderColor = "green";
                        img.style.backgroundColor = "#26f326";
                        user["online"] = "1";
                    }
                    if (st == 0 || st == "0"){
                        img.style.borderColor = "#adadad";
                        img.style.backgroundColor = "white";
                        user["online"] = "0";
                    }
            }

            function addMsgPrev(m){
                var divElem = document.createElement("div");
                    divElem.className = "prev_msg_container";


                    var divH = document.createElement("div");
                    divH.className = "prev_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "prev_msg_content";

                    var divT = document.createElement("div");
                    divT.className = "prev_msg_text";
                    divT.innerHTML = m["body"];

                    if (parseInt(m["read_state"]) == 0 && parseInt(m["out"]) != 1){
                        divElem.style.backgroundColor = "rgb(186, 216, 255)";
                    }

                    //TODO: check if chat
                    var nspan = document.createElement("span");
                    nspan.className = "prev_name_text";

                    var did = document.createElement("div");
                    did.style.display = 'none';

                    var img1 = document.createElement("img");
                    img1.className = "photo_img";
                    img1.onerror = function() {
                        this.src = '/images/camera_50.png';
                    }

                    var uinf;
                    var isrc;
                    try{
                        uinf = getInf(__cacheUsers,m["uid"]);
                        isrc = uinf["photo_50"];
                        isrc = isrc.replace("https://vk.com","");
                        if (uinf["online"] != "0"){
                            setOnline(img1,1,m["uid"]);
                        }
                    }
                    catch (err){

                        //alert(i + " " + m["body"]);
                        return;
                    }
                    //if (m[i]["out"] == "0") {
                        img1.src = ("/images/camera_50.png" != isrc) ? url_to_replace + isrc : isrc;
                    /*}
                    else {
                        img1.src = current_user["photo_50"];
                    }*/

                    if (typeof m["fwd_messages"] != 'undefined'){
                        divT.innerHTML += "<span style='color: blue'>Forwarded messages</span>"
                    }
                    if (typeof m["attachment"] != 'undefined' || typeof m["attachments"] != 'undefined' ){
                        divT.innerHTML += "<span style='color: blue'>Attachments</span>"
                    }

                    if (m["read_state"] == "0" && m["out"] == "1"){
                        divT.style.backgroundColor = "#e0e6e0";
                    }

                    if (m["out"] == "1"){
                        divT.innerHTML = "You: " + divT.innerHTML;
                    }

                    if (typeof m["chat_id"] !== 'undefined'){
                        nspan.innerHTML = m["title"];

                        did.className = "user_id";
                        did.innerHTML = parseInt(m["chat_id"]) +2000000000;
                        did.setAttribute("isChat","1");
                    }
                    else {
                        nspan.innerHTML = uinf["first_name"] + " " + uinf["last_name"];
                        did.className = "user_id";
                        did.innerHTML = m["uid"];
                        did.setAttribute("isChat","0");
                    }

                    var dspan = document.createElement("span");
                    dspan.className = "prev_date_text";

                    var dstr = parseInt(m["date"])*1000;
                    dspan.innerHTML =  formatDate(new Date(dstr));


                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(img1);
                    divC.appendChild(divT);

                    divElem.appendChild(did);
                    divElem.appendChild(divH);
                    divElem.appendChild(divC);


                    if (divElem.addEventListener)
                        divElem.addEventListener('click',function () { showMsgsIfSmall(); sel_rec_id(this.getElementsByClassName("user_id")[0].innerHTML,this.getElementsByClassName("user_id")[0].getAttribute("isChat"),0); },false); //everything else
                    else if (divElem.attachEvent)
                        divElem.attachEvent('onclick',function() { showMsgsIfSmall(); sel_rec_id(this.getElementsByClassName("user_id")[0].innerHTML,this.getElementsByClassName("user_id")[0].getAttribute("isChat"),0); });  //IE only

                    return divElem;
            }

            function parsePrevMsg(m){
                dialogs_offset += m.length-1;
                var c = parseInt(m[0]);
                var mdivc = document.createElement("div");
                maxcount = ((c > 20) ? 20 : c);
                if (maxcount == 0) {
                        var divElem = document.createElement("div");
                        divElem.className = "prev_msg_container";
                        divElem.innerHTML = "There is no messages there :(";
                        document.getElementById('prev_msg_container').appendChild(divElem);
                }
                /*if (addToOffsetDlg){
                    addToOffsetDlg = false;
                    dialogs_offset += maxcount;
                }*/
                if (lastMsgId==0) {
                    lastMsgId = m[1]["mid"];
                    startLPH();
                }



                for (var i=1;i<=maxcount; i++){
                    var t = addMsgPrev(m[i]);
                    mdivc.id = "msg_container_" + dialogs_offset;
                    if (typeof t != 'undefined') mdivc.appendChild(t);
                }
               // document.getElementById('prev_msg_container').innerHTML = "";
                document.getElementById('prev_msg_container').appendChild(mdivc);
            }

            function showMsgsIfSmall(){
                document.getElementById("btn_back").style.display = "block";
                document.getElementById("cRight").style.zIndex = "1";
                document.getElementById("cRight").style.display = "block";
            }

            function hideMsgs(){
                document.getElementById("btn_back").style.display = "none";
                document.getElementById("cRight").style.zIndex = "0";
                document.getElementById("cRight").style.display = "none";
            }

            function getInf(arr,v){
                for (var i=0; i<arr.length; i++){
                    if (arr[i]["uid"] == v){
                        return arr[i];
                    }
                }
                if (v == current_user["uid"]){
                    return current_user;
                }
                /*var rar = [];
                rar["uid"] = v;
                rar["photo_50"] = "/images/camera_50.png";
                rar["first_name"] = "undefined First Name";
                rar["last_name"] = "undefined Last Name"
                return rar;*/
            }

            function ctrlEnter(event, formElem){
                if((event.ctrlKey) && ((event.keyCode == 0xA)||(event.keyCode == 0xD))){
                    sendMsg(document.getElementById('rec_id').value,document.getElementById('msgtxt').value,document.getElementById('isChat').value);
                }
            }

            function startLPH(){
                timerLPH = setTimeout(function startLongPollHistory(m){
                xhrLPH = new XMLHttpRequest();
                xhrLPH.open('POST', '/LPhistory', true);
                var params = "max_msg_id=" + encodeURIComponent(m);

                xhrLPH.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhrLPH.send(params);

                xhrLPH.onreadystatechange = function(){
                    if(xhrLPH.readyState == 4){
                        if (!startedLongPoll){
                            startLongPoll(1,oldTs);
                        }
		                //alert(xhrLPH.responseText);
		                parseLPHResponse(xhrLPH.responseText);
		                xhrLPH = null;
		               // timerLPH = setTimeout( startLongPollHistory(m) ,5000);
		                timerLPH = setTimeout( startLPH() ,5000);

                    }
                }
                },3000,lastMsgId);
            }

            var timerLP;
            var xhrLP;
            function startLP(){
                timerLP = setInterval(startLongPoll(),1000);
            }

            function parseLPHResponse(t){
                var jt =  JSON.parse(t);
                var msgs = jt["messages"];
                var mc = parseInt(msgs[0]);
                if (mc != 0) lastMsgId = msgs[mc]["mid"];
                for (var i=1;i<=mc;i++){
                    m = msgs[i];
                    var i1;
                    if (typeof m["chat_id"] != 'undefined'){
                        //update chat
                        i1 = checkAddedMsgById(parseInt(m["chat_id"])+2000000000);
                    }
                    else {
                        i1 = checkAddedMsgById(m["uid"]);
                    }
                    if (i1) {
                        updatePrevMsg(m,i1);
                        upPrevMsg(i1);
                    }
                    else {
                        addMsgPrev(m);
                    }
                    if ((current_dialog["rid"]==m["uid"] || parseInt(current_dialog["rid"]) == parseInt(m["chat_id"])+2000000000)){
                        addMsgToDlg(m,1);
                    }
                }
            }

            var startedUpdating = false;
            var timerId;
            var startedUpdatingMessages = false;
            function newMessagesGetter(startLongPolling,ts){
                if (startedUpdatingMessages == true) return;
                startedUpdatingMessages = true;
                xhrLP = new XMLHttpRequest();

		        xhrLP.onreadystatechange = function(){
                    if (this.readyState != 4) return;

                    startedUpdatingMessages = false;


                    if (this.status == 200) {

                       var jt = JSON.parse(this.responseText);

                       if (this.responseText) {
                         // сервер может закрыть соединение без ответа при перезагрузке
                         //alert(this.responseText);
                         //alert(jt["ts"]);
                         var updates = jt["updates"];
                         for (var i=0;i<updates.length;i++){
                            switch(updates[i][0]){
                                case 8:
                                    //alert(("-" + parseInt(updates[i][1])) + " is online");
                                    var n = parseInt(updates[i][1]);
                                    n = -n;
                                    var i = checkAddedMsgById(n);
                                    if (i){
                                        setOnline(i.getElementsByClassName("photo_img")[0],1,n);
                                    }
                                    break
                                case 9:
                                    //alert(("-" + parseInt(updates[i][1])) + " is offline");
                                    var n = parseInt(updates[i][1]);
                                    n = -n;
                                    var i = checkAddedMsgById(n);
                                    if (i){
                                        setOnline(i.getElementsByClassName("photo_img")[0],0,n);
                                    }
                                    break
                                case 4:
                                    //ignore new messages cause LPH
                                case 61:
                                    //user_id typing
                                    var i = checkAddedMsgById(updates[i][1]);
                                    if (i){
                                        i.getElementsByClassName("prev_msg_text")[0].innerHTML = "typing...";
                                    }
                                    break;
                                case 62:
                                    //user_id typing in chat
                                    break;
                                case 6:
                                    //income msg reading
                                    break;
                                case 7:
                                    //outcome msg reading
                                    break;
                            }
                         }
                        }
                        newMessagesGetter(2,jt["ts"]);
                        return;
                    }
                    if (this.status != 502) {
                      // 502 - прокси ждал слишком долго, надо пересоединиться, это не ошибка
                      // alert(this.statusText); // показать ошибку
                      //maybe canceled by dev via xhr.abort
                    }
                    //alert("try again");
                    //setTimeout(newMessagesGetter(1,0), 1000); // попробовать ещё раз через 1 сек
		        };
                oldTs = ts;
                xhrLP.open('GET', '/execute?r=' + Math.random() + "&startLongPolling=" + startLongPolling + "&ts=" + ts, true);
		        xhrLP.send();
            }


            function updatePrevMsg(m,i){
                i.getElementsByClassName("prev_date_text")[0].innerHTML = formatDate(new Date(parseInt(m["date"])*1000));

                var msg_txt = i.getElementsByClassName("prev_msg_text")[0];

                i.getElementsByClassName("prev_msg_text")[0].innerHTML = m["body"];
                if (m["out"] == "1"){
                    msg_txt.innerHTML = "You: " + msg_txt.innerHTML;
                }
                else {
                }
                if (typeof m["attachments"] != 'undefined'){
                    msg_txt.innerHTML + '<span style="color: blue"> Forwarded messages</span>';
                }
                if (typeof m["attachments"] != 'undefined'){
                    msg_txt.innerHTML + '<span style="color: blue"> Attachments</span>';
                }
            }

            function upPrevMsg(i){
                var ti = i;
                i.remove();
                var mc = document.getElementById("msg_container_20");
                try{
                    mc.insertBefore(ti,mc.getElementsByClassName("prev_msg_container")[0]);
                }
                catch(e){
                    mc.append(ti);
                }
            }


            function checkAddedMsgById(id){
                var x = document.getElementsByClassName("prev_msg_container");
                for (var i=0;i<x.length; i++) {
                    if (x[i].getElementsByClassName("user_id")[0].innerHTML == id){
                        return x[i];
                    }
                }
                return undefined;
            }

            function parseMsgLongPoll(t){
                /* A lot of code */
                return t;

            }

            function stopCallBack(){
                clearInterval(timerId);
            }

            var startedLoadingMore = false;
            function msgContainerScroll(t){
                var myDiv = document.getElementById("msg_container");
                if (myDiv.offsetHeight + myDiv.scrollTop >= myDiv.scrollHeight - 100 && !startedLoadingMore) {
                    startedLoadingMore = true;
                    showMessagesLoading();
                    sel_rec_id(current_dialog["rid"],current_dialog["isChat"],messages_offset);
                   // document.getElementById("msg_container_loading").style.display = "block";
                }
            }

            var startedLoadingMoreDlgs = false;
            function dlgsContainerScroll(t){
                var myDiv = document.getElementById("prev_msg_container");
                if (myDiv.offsetHeight + myDiv.scrollTop >= myDiv.scrollHeight - 100 && !startedLoadingMoreDlgs) {
                    startedLoadingMoreDlgs = true;
                   // alert(myDiv.offsetHeight + " " + myDiv.scrollTop + " " + myDiv.scrollHeight );
                    getPrevInfo(dialogs_offset);
                }
            }

            function showMessagesLoading(){

            }

            function formatDate(d){
                var cdate = new Date();
                var dformat = "";
                if (d.getDate() == cdate.getDate() && d.getMonth() == cdate.getMonth()){
                    return ("00" + d.getHours()).slice(-2) + ":" +
                    ("00" + d.getMinutes()).slice(-2) + ":" +
                    ("00" + d.getSeconds()).slice(-2);
                }
                else {
                    return ("00" + d.getDate()).slice(-2) + "/" +
                    ("00" + (d.getMonth() + 1)).slice(-2) + " " +
                    ("00" + d.getHours()).slice(-2) + ":" +
                    ("00" + d.getMinutes()).slice(-2) + ":" +
                    ("00" + d.getSeconds()).slice(-2);
                }
                return dformat;
            }
		</script>
		<script>
		   window.onscroll = function(event){
           var scroll = this.scrollTop();
           if (scroll > previousScroll){
               // downscroll code
               alert("down");
           } else {
               alert("down1");
              // upscroll code
           }
           previousScroll = scroll;
        };
		</script>
	<head>
	<body onload="onComplete();">
	    <div class="alert_info" id="alertInf">
	        <div class="alert_info_container" id="alertInfContainer"></div>
	    </div>
	    <div class="alert_background" id="alertBg"></div>
		<div class="main">
			<div class="main_header">
				<img class="logo_img">
				<span class="logo_text">AV</span>
				<div class="main_content">
				    <div class="div_back_btn" id="btn_back" onclick="hideMsgs();">
				        <img class="btn_back" src="/images/backbtn.png">
				        <span class="btn_back_text">Go back!</span>
				    </div>
				</div>
				<img class="profile_img" id="my_img" src="">
			</div>
			<!-- <div class="border"></div> -->
			<div class="nav_menu">
  				<a href="#news">News</a>
				<a href="#home">Messages</a>
  				<a href="#contact">Contact</a>
  				<a href="#about">About</a>
  				<a href="/logout">Logout</a>
  				<a href="#lalaland" class="expansion">...</a>
			</div>
			<div class="content">
				<div class="container left" id="prev_msg_container" onscroll="dlgsContainerScroll(this);">
					<div id="end_container" class="prev_msg_end_container" >
						...
					</div>
				</div>
				<div class="container right" id="cRight">
					<div class="messages" id="msg_container" onscroll="msgContainerScroll(this);">

					</div>
					<div class="send_msg_block">
						<div class="rotate_block">
							<form action="" method="post" class="main_form" onsubmit="return false;" onkeypress="ctrlEnter(event, this);">
								<div class="top_msg_textarea">

								</div>
					            <div class="dlg_user_actions" id="dlg_user_action"></div>
								<div>
								    <textarea type="text" id="msgtxt" name="msg" placeholder="Your message..." style="font-size: 16px;"></textarea>
								    <div class="send_btn">
								    	<input type="submit" name="sbm" value="send" class="send_btn_input" onclick="sendMsg(document.getElementById('rec_id').value,document.getElementById('msgtxt').value,document.getElementById('isChat').value); return false;">
								    	<!-- -->
								    </div>
								</div>
								<input type="hidden" id="rec_id" name="recipient_id" >
								<input type="hidden" id="isChat">
							</form>
							<form enctype="multipart/form-data" action="/file_upload" style="display: none;" class="dropzone" method="post" id="file_uploader">
								<div class="msg_tools324234">
								    <div class="attach_file1231231">
                                        <input name="upload_file" class="attach_file_input12313" type="file" />
                                        <input type="submit">
                                        <!--  onchange="document.getElementById('file_uploader').submit();" -->
                                    </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="footer"></div> -->
		</div>
	</body>
</html>