<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/im.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script>
		    var __cache = [];
		    var __cacheUsers = [];
		    var url_to_replace = "/gets?url=";
		    var maxcount = 0;
		    var current_user = [];
		    var current_dialog = [];
		    var dialogs_offset=0,messages_offset=0;
		    var addToOffsetDlg=true,addToOffsetMsg=true;
            var oldTs=0;
            var selectedDlgUserId=0;

            var xhrLP;
            var startedLongPoll = false;
            function startLongPoll(s,ts){
                startedLongPoll = true;
                newMessagesGetter(s,ts);
            }

            function stopLongPoll(){
                startedLongPoll = false;
                xhrLP.abort();
            }


            function showAttachmentAlert(x){
                 var ai = document.getElementById("alertInf");

                 var aic = document.getElementById("alertInfContainer");
                 var ab = document.getElementById("alertBg");
                 var i = document.createElement("img");
                 i.src = x;
                 i.style.width = "80%";
                 i.style.height = "100%";

                 ai.onclick = function() {
                     ab.style.display = "none";
                     ai.style.display = "none";
                     aic.innerHTML = "";
                 }

                 aic.appendChild(i);
                 ab.style.display = "block";
                 ai.style.display = "block";
            }

			function onComplete(){
                getPrevInfo(dialogs_offset);
                var x = document.getElementsByClassName("prev_msg_container");
				if (x.length <= 4) {
					document.getElementById('end_container').style.display = 'none';
				}
				//setTimeout(newMessagesGetter(1,0), 3000);
			}

            function clearChatContainer(){
			    document.getElementById("msg_container").innerHTML = "";
            }

			function sel_rec_id(rid,isChat,offset){
                document.getElementById('rec_id').value = rid;
                selectedDlgUserId = rid;

                if (current_dialog["rid"] !== rid) {
                    messages_offset = 0;
                    document.getElementById("msg_container").innerHTML = "";
                }
                rid = parseInt(rid);
                offset = parseInt(offset);
                current_dialog["isChat"] = isChat;
                current_dialog["rid"] = rid;
                current_dialog["offset"] = offset;

                if (isChat == "1") {
                    rid = rid + 2000000000;
                }
                var params = "uid=" + encodeURIComponent(rid) + "&offset=" + encodeURIComponent(offset);
                if (startedLongPoll) stopLongPoll();
                var xhr = new XMLHttpRequest();

                xhr.open('POST', '/getmsg', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhr.send(params);

                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4){
                        if (!startedLongPoll){
                            startLongPoll(1,oldTs);
                        }
		                parseMsgResponse(xhr.responseText,rid);
                    }
                }

            }

    		function parseMsgResponse(t,rid){
                var jt =  JSON.parse(t);
                var additionalUserIds = []; var loadMoreUsers=0;
                var c = parseInt(jt[0]["data"]);
                maxcount = ((c > 20) ? 20 : c);

                //if (addToOffsetMsg){
                  //  addToOffsetMsg = false;
                    messages_offset += maxcount;
                //}
                for (var i=1;i<=maxcount; i++){
                    var dinp = document.createElement("div");
                    dinp.className = "msg_container";

                    var divElem = document.createElement("div");
                    divElem.className = "main_msg_container";

                    var divH = document.createElement("div");
                    divH.className = "main_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "main_msg_content";

                    var divM = document.createElement("div");
                    divM.className = "main_msg_text";
                    divM.innerHTML = jt[i]["data"]["body"];

                    var dspan = document.createElement("span");
                    dspan.className = "main_date_text";

                    var dstr = parseInt(jt[i]["data"]["date"])*1000;
                    dspan.innerHTML = formatDate(new Date(dstr));

                    var nspan = document.createElement("span");
                    nspan.className = "main_name_text";


                    var s_img = document.createElement("img");
                    s_img.className = "main_photo_img";



                    var temp = getInf(__cacheUsers,jt[i]["data"]["uid"]);
                    if (current_user["id"] == jt[i]["data"]["uid"]){
                            nspan.innerHTML = current_user["first_name"] + " " + current_user["last_name"];
                            s_img.src = current_user["photo_50"];
                    }
                    else {
                        if (temp){
                            nspan.innerHTML = temp["first_name"] + " " + temp["last_name"];
                            s_img.src = (jt[i]["data"]["uid"] == current_user["id"]) ? temp["photo_50"] : url_to_replace + temp["photo_50"];
                        }
                        else {
                            additionalUserIds.push(jt[i]["data"]["uid"]);
                            loadMoreUsers++;
                            //load more users
                            //loadUsers(jt[i]);
                        }
                    }
        /*
                    if (jt[i]["data"]["uid"] == rid){
                        nspan.innerHTML = name;
                    }
                    else {
                        nspan.innerHTML = current_user["first_name"] + " " + current_user["last_name"];
                    }

                    if (jt[i]["data"]["uid"] == rid){
                        s_img.src = img;
                    }
                    else {
                        s_img.src = current_user["photo_50"];
                    }
*/
                    var divO = document.createElement("div");
                    divO.className = "main_msg_options";

                    var divI = document.createElement("div");
                    divI.className = "main_msg_img_wrapper";

                    divI.appendChild(s_img);
                    divI.appendChild(divM);

                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(divI);

                    divElem.appendChild(divH);
                    divElem.appendChild(divC);

                    dinp.appendChild(divO);
                    dinp.appendChild(divElem);

                    if (typeof jt[i]["data"]["fwd_messages"] != 'undefined'){
                        var a = jt[i]["data"]["fwd_messages"];
                        for (var i1=0; i1<a.length; i1++){
                             var divF = document.createElement("div");
                             divF.className = "msg_attachments";
                             divF.innerHTML = a[i1]["body"];
                             divI.appendChild(document.createElement("br"));
                            divI.appendChild(divF);
                        }
                    }

                    if (typeof jt[i]["data"]["attachments"] != 'undefined'){
                        var a = jt[i]["data"]["attachments"];
                        var divF = document.createElement("div");
                        divF.className = "msg_attachments";
                        for (var i1=0; i1<a.length; i1++){
                             switch (a[i1]["type"]){
                                 case "photo":
                                     var img1 = document.createElement("img");
                                     img1.setAttribute("large",url_to_replace + a[i1]["photo"]["src_big"]);
                                     img1.src = url_to_replace + a[i1]["photo"]["src"];
                                     img1.style.marginLeft = "10px";
                                     divF.appendChild(img1);
                                     img1.onclick = function(){
                                         showAttachmentAlert(this.getAttribute("large"));
                                     }
                                     break;
                                 default:
                                     break;
                             }
                        }
                        divI.appendChild(document.createElement("br"));
                        divI.appendChild(divF);
                    }

                    document.getElementById('msg_container').appendChild(dinp);
                }
                if (loadMoreUsers>0){
                    loadMoreUsers = 0;
                    loadUsers(additionalUserIds);
                }
                startedLoadingMore = false;
               // document.getElementById("msg_container_loading").style.display = "none";
            }

            function loadUsers(arr){
                //just don't give a fuck
                var xhr = new XMLHttpRequest();

                if (startedLongPoll) stopLongPoll();

		        xhr.onreadystatechange = function(){
		            if(!startedLongPoll){
                        startLongPoll(1,oldTs);
                    }
		            parseLoadingUsers(xhr.responseText);
		        };
                xhr.open('GET', '/getUsers?r=' + Math.random() + "&uids=" + arr.join(), true);

		        xhr.send();
            }

            function parseLoadingUsers(t){
                    console.log(t);
            }


			function getPrevInfo(dialogsOffset){
                var xhr = new XMLHttpRequest();

                if (xhrLP){
                    stopLongPoll();
                }

		        xhr.onreadystatechange = function(){

                    if (!startedLongPoll){
                        startLongPoll(1,oldTs);
                    }
                  parseMsgInfoPrev(xhr.responseText);
		          startedUpdating=false;
		        };
                xhr.open('GET', '/execute?r=' + Math.random() + "&dialogsOffset=" + dialogsOffset, true);

		        xhr.send();
/*
		        if (xhr.status != 200) {
                  // обработать ошибку
                  parseMsgInfoPrev(xhr.responseText);
                  //alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
                } else {
                  // вывести результат
                  parseMsgInfoPrev(xhr.responseText);
                }*/
			}

			function sendMsg(id,txt){
                var params = "msg=" + encodeURIComponent(txt) + "&toid=" + encodeURIComponent(parseInt(id));
			    var xhr = new XMLHttpRequest();
			    stopLongPoll();

                xhr.open('POST', '/im', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // 3. Отсылаем запрос
                xhr.send(params);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState == 4){
                        parseSendMsgResponse(xhr.responseText,txt,id);
                        startLongPoll(1,oldTs);
                    }
                }
			}

			function parseSendMsgResponse(r,txt,id){
			   if (typeof parseInt(r) !== "undefined"){
			       //OK
			       addMsg(r,txt,current_user);
			       document.getElementById("msgtxt").value="";
			   }
			   else {
			       addMsg(-r,txt,current_user);
			       document.getElementById("msgtxt").value="";
			       //ERR
			   }
			}

			function addMsg(r,txt,u){
                    var dinp = document.createElement("div");
                    dinp.className = "msg_container";

                    var divElem = document.createElement("div");
                    divElem.className = "main_msg_container";

                    var divH = document.createElement("div");
                    divH.className = "main_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "main_msg_content";

                    var divM = document.createElement("div");
                    divM.className = "main_msg_text";
                    divM.innerHTML = txt;

                    var dspan = document.createElement("span");
                    dspan.className = "main_date_text";

                    dspan.innerHTML = formatDate(new Date());

                    var nspan = document.createElement("span");
                    nspan.className = "main_name_text";
                    nspan.innerHTML = u["first_name"] + " " + u["last_name"];

                    var s_img = document.createElement("img");
                    s_img.className = "main_photo_img";
                    s_img.src = u["photo_50"];

                    if (u["online"] != "0"){
                        setOnline(s_img,1);
                    }

                    var divO = document.createElement("div");
                    divO.className = "main_msg_options";

                    var divI = document.createElement("div");
                    divI.className = "main_msg_img_wrapper";


                    divI.appendChild(s_img);
                    divI.appendChild(divM);

                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(divI);

                    divElem.appendChild(divH);
                    divElem.appendChild(divC);

                    dinp.appendChild(divO);
                    dinp.appendChild(divElem);

                    if (r<0){

                    }

                    var main_c = document.getElementById('msg_container');
                    main_c.insertBefore(dinp,main_c.children[0]);
			}


            var addedCacheFirstMsgPrev = false;
			function parseMsgInfoPrev(t){
                var jt = JSON.parse(t);
                var msgs = jt["msgs"];
                var users = jt["users"];
                var me = jt["me"][0];
                parseMyPrevInfo(me);
            //    if (addedCacheFirstMsgPrev == false) {
                __cacheUsers = __cacheUsers.concat(users);
            //        addedCacheFirstMsgPrev == true }
                parsePrevMsg(msgs);
                startedLoadingMoreDlgs = false;
            }



            function parseMyPrevInfo(me){
                current_user["first_name"] = me["first_name"];
		        current_user["last_name"] = me["last_name"];
		        current_user["id"] = me["uid"];
		        current_user["online"] = me["online"];

		        current_user["photo_50"] = ("/images/camera_50.png" != me["photo_50"]) ? url_to_replace + me["photo_50"] : me["photo_50"];
		        document.getElementById("my_img").src = current_user["photo_50"];
            }

            function setOnline(img,st){
                    if (st == 1 || st == "1"){
                        img.style.borderColor = "green";
                        img.style.backgroundColor = "#26f326";
                    }
                    if (st == 0 || st == "0"){
                        img.style.borderColor = "#adadad";
                        img.style.backgroundColor = "white";
                    }
            }

            function addMsgPrev(m){
                var divElem = document.createElement("div");
                    divElem.className = "prev_msg_container";


                    var divH = document.createElement("div");
                    divH.className = "prev_msg_headers";

                    var divC = document.createElement("div");
                    divC.className = "prev_msg_content";

                    var divT = document.createElement("div");
                    divT.className = "prev_msg_text";
                    divT.innerHTML = m["body"];

                    if (parseInt(m["read_state"]) == 0 && parseInt(m["out"]) != 1){
                        divElem.style.backgroundColor = "#a5ebec";
                        divH.style.backgroundColor = "#a5ebec";
                        divC.style.backgroundColor = "#a5ebec";
                        divT.style.backgroundColor = "#a5ebec";
                    }

                    //TODO: check if chat
                    var nspan = document.createElement("span");
                    nspan.className = "prev_name_text";

                    var did = document.createElement("div");
                    did.style.display = 'none';

                    var img1 = document.createElement("img");
                    img1.className = "photo_img";
                    img1.onerror = function() {
                        this.src = '/images/camera_50.png';
                    }

                    var uinf;
                    var isrc;
                    try{
                        uinf = getInf(__cacheUsers,m["uid"]);
                        isrc = uinf["photo_50"];
                        isrc = isrc.replace("https://vk.com","");
                        if (uinf["online"] != "0"){
                            setOnline(img1,1);
                        }
                    }
                    catch (err){

                        //alert(i + " " + m["body"]);
                        return;
                    }
                    //if (m[i]["out"] == "0") {
                        img1.src = ("/images/camera_50.png" != isrc) ? url_to_replace + isrc : isrc;
                    /*}
                    else {
                        img1.src = current_user["photo_50"];
                    }*/

                    if (typeof m["fwd_messages"] != 'undefined'){
                        divT.innerHTML += "<span style='color: blue'>Forwarded messages</span>"
                    }
                    if (typeof m["attachment"] != 'undefined' || typeof m["attachments"] != 'undefined' ){
                        divT.innerHTML += "<span style='color: blue'>Attachments</span>"
                    }

                    if (typeof m["chat_id"] !== 'undefined'){
                        nspan.innerHTML = m["title"];

                        did.className = "user_id";
                        did.innerHTML = m["chat_id"];
                        did.setAttribute("isChat","1");
                    }
                    else {
                        nspan.innerHTML = uinf["first_name"] + " " + uinf["last_name"];
                        did.className = "user_id";
                        did.innerHTML = m["uid"];
                        did.setAttribute("isChat","0");
                    }

                    var dspan = document.createElement("span");
                    dspan.className = "prev_date_text";

                    var dstr = parseInt(m["date"])*1000;
                    dspan.innerHTML =  formatDate(new Date(dstr));


                    divH.appendChild(nspan);
                    divH.appendChild(dspan);

                    divC.appendChild(img1);
                    divC.appendChild(divT);

                    divElem.appendChild(did);
                    divElem.appendChild(divH);
                    divElem.appendChild(divC);


                    if (divElem.addEventListener)
                        divElem.addEventListener('click',function () { showMsgsIfSmall(); sel_rec_id(this.getElementsByClassName("user_id")[0].innerHTML,this.getElementsByClassName("user_id")[0].getAttribute("isChat"),0); },false); //everything else
                    else if (divElem.attachEvent)
                        divElem.attachEvent('onclick',function() { showMsgsIfSmall(); sel_rec_id(this.getElementsByClassName("user_id")[0].innerHTML,this.getElementsByClassName("user_id")[0].getAttribute("isChat"),0); });  //IE only

                    return divElem;
            }

            function parsePrevMsg(m){
                dialogs_offset += m.length-1;
                var c = parseInt(m[0]);
                var mdivc = document.createElement("div");
                maxcount = ((c > 20) ? 20 : c);
                if (maxcount == 0) {
                        var divElem = document.createElement("div");
                        divElem.className = "prev_msg_container";
                        divElem.innerHTML = "There is no messages there :(";
                        document.getElementById('prev_msg_container').appendChild(divElem);
                }
                /*if (addToOffsetDlg){
                    addToOffsetDlg = false;
                    dialogs_offset += maxcount;
                }*/
                for (var i=1;i<=maxcount; i++){
                    var t = addMsgPrev(m[i]);
                    mdivc.id = "msg_container_" + dialogs_offset;
                    if (typeof t != 'undefined') mdivc.appendChild(t);
                }
               // document.getElementById('prev_msg_container').innerHTML = "";
                document.getElementById('prev_msg_container').appendChild(mdivc);
            }

            function showMsgsIfSmall(){
                document.getElementById("btn_back").style.display = "block";
                document.getElementById("cRight").style.zIndex = "1";
                document.getElementById("cRight").style.display = "block";
            }

            function hideMsgs(){
                document.getElementById("btn_back").style.display = "none";
                document.getElementById("cRight").style.zIndex = "0";
                document.getElementById("cRight").style.display = "none";
            }

            function getInf(arr,v){
                for (var i=0; i<arr.length; i++){
                    if (arr[i]["uid"] == v){
                        return arr[i];
                    }
                }
                if (v == current_user["id"]){
                    return current_user;
                }
                /*var rar = [];
                rar["uid"] = v;
                rar["photo_50"] = "/images/camera_50.png";
                rar["first_name"] = "undefined First Name";
                rar["last_name"] = "undefined Last Name"
                return rar;*/
            }

            function ctrlEnter(event, formElem){
                if((event.ctrlKey) && ((event.keyCode == 0xA)||(event.keyCode == 0xD))){
                    sendMsg(document.getElementById('rec_id').value,document.getElementById('msgtxt').value);
                }
            }

            var startedUpdating = false;
            var timerId;
            var startedUpdatingMessages = false;
            function newMessagesGetter(startLongPolling,ts){
                if (startedUpdatingMessages == true) return;
                startedUpdatingMessages = true;
                xhrLP = new XMLHttpRequest();

		        xhrLP.onreadystatechange = function(){
                    if (this.readyState != 4) return;

                    startedUpdatingMessages = false;


                    if (this.status == 200) {

                       var jt = JSON.parse(this.responseText);

                       if (this.responseText) {
                         // сервер может закрыть соединение без ответа при перезагрузке
                         //alert(this.responseText);
                         //alert(jt["ts"]);
                         var updates = jt["updates"];
                         for (var i=0;i<updates.length;i++){
                            switch(updates[i][0]){
                                case 8:
                                    //alert(("-" + parseInt(updates[i][1])) + " is online");
                                    var n = parseInt(updates[i][1]);
                                    n = -n;
                                    var i = checkAddedMsgById(n);
                                    if (i){
                                        setOnline(i.getElementsByClassName("photo_img")[0],1);
                                    }
                                    break
                                case 9:
                                    //alert(("-" + parseInt(updates[i][1])) + " is offline");
                                    var n = parseInt(updates[i][1]);
                                    n = -n;
                                    var i = checkAddedMsgById(n);
                                    if (i){
                                        setOnline(i.getElementsByClassName("photo_img")[0],0);
                                    }
                                    break
                                case 4:
                                    //new message
                                    m = [];
                                    m["body"] = updates[i][5];
                                    m["uid"] = updates[i][3];
                                    m["mid"] = updates[i][2];
                                    m["date"] = updates[i][4];
                                    var i = checkAddedMsgById(m["uid"]);
                                    if (i) {
                                        i.getElementsByClassName("prev_date_text")[0].innerHTML = formatDate(new Date(parseInt(m["date"])*1000));
                                        i.getElementsByClassName("prev_msg_text")[0].innerHTML = m["body"];
                                        var ti = i;
                                        i.remove();
                                        var mc = document.getElementById("msg_container_20");
                                        try{
                                            mc.insertBefore(ti,mc.getElementsByClassName("prev_msg_container")[0]);
                                        }
                                        catch(e){
                                            mc.append(ti);
                                        }
                                    }
                                    else {
                                        addMsgPrev(m);
                                    }
                                    if (m["uid"] == selectedDlgUserId){
                                        if (m["mid"] == "51"){ // why 51 ???
                                            addMsg(m["mid"],m["body"],current_user);
                                        }
                                        else {
                                            addMsg(m["mid"],m["body"],getInf(__cacheUsers,m["uid"]));
                                        }
                                    }
                                    break;
                                case 61:
                                    //user_id typing
                                    var i = checkAddedMsgById(updates[i][1]);
                                    if (i){
                                        i.getElementsByClassName("prev_msg_text")[0].innerHTML = "typing...";
                                    }
                                    break;
                                case 62:
                                    //user_id typing in chat
                                    break;
                                case 6:
                                    //income msg reading
                                    break;
                                case 7:
                                    //outcome msg reading
                                    break;
                            }
                         }
                        }
                        newMessagesGetter(2,jt["ts"]);
                        return;
                    }
                    if (this.status != 502) {
                      // 502 - прокси ждал слишком долго, надо пересоединиться, это не ошибка
                      // alert(this.statusText); // показать ошибку
                      //maybe canceled by dev via xhr.abort
                    }
                    //alert("try again");
                    //setTimeout(newMessagesGetter(1,0), 1000); // попробовать ещё раз через 1 сек
		        };
                oldTs = ts;
                xhrLP.open('GET', '/execute?r=' + Math.random() + "&startLongPolling=" + startLongPolling + "&ts=" + ts, true);
		        xhrLP.send();
            }

            function checkAddedMsgById(id){
                var x = document.getElementsByClassName("prev_msg_container");
                for (var i=0;i<x.length; i++) {
                    if (x[i].getElementsByClassName("user_id")[0].innerHTML == id){
                        return x[i];
                    }
                }
                return undefined;
            }

            function parseMsgLongPoll(t){
                /* A lot of code */
                return t;

            }

            function stopCallBack(){
                clearInterval(timerId);
            }

            var startedLoadingMore = false;
            function msgContainerScroll(t){
                var myDiv = document.getElementById("msg_container");
                if (myDiv.offsetHeight + myDiv.scrollTop >= myDiv.scrollHeight - 100 && !startedLoadingMore) {
                    startedLoadingMore = true;
                    showMessagesLoading();
                    sel_rec_id(current_dialog["rid"],current_dialog["isChat"],messages_offset);
                   // document.getElementById("msg_container_loading").style.display = "block";
                }
            }

            var startedLoadingMoreDlgs = false;
            function dlgsContainerScroll(t){
                var myDiv = document.getElementById("prev_msg_container");
                if (myDiv.offsetHeight + myDiv.scrollTop >= myDiv.scrollHeight - 100 && !startedLoadingMoreDlgs) {
                    startedLoadingMoreDlgs = true;
                    getPrevInfo(dialogs_offset);
                }
            }

            function showMessagesLoading(){

            }

            function formatDate(d){
                var dformat = ("00" + (d.getMonth() + 1)).slice(-2) + "/" +
                    ("00" + d.getDate()).slice(-2) + "/" +
                    d.getFullYear() + " " +
                    ("00" + d.getHours()).slice(-2) + ":" +
                    ("00" + d.getMinutes()).slice(-2) + ":" +
                    ("00" + d.getSeconds()).slice(-2)
               return dformat;
            }
		</script>
		<script>
		   window.onscroll = function(event){
           var scroll = this.scrollTop();
           if (scroll > previousScroll){
               // downscroll code
               alert("down");
           } else {
               alert("down1");
              // upscroll code
           }
           previousScroll = scroll;
        };
		</script>
	<head>
	<body onload="onComplete();">
	    <div class="alert_info" id="alertInf">
	        <div class="alert_info_container" id="alertInfContainer"></div>
	    </div>
	    <div class="alert_background" id="alertBg"></div>
		<div class="main">
			<div class="main_header">
				<img class="logo_img">
				<span class="logo_text">AV</span>
				<div class="main_content">
				    <div class="div_back_btn" id="btn_back" onclick="hideMsgs();">
				        <img class="btn_back" src="/images/backbtn.png">
				        <span class="btn_back_text">Go back!</span>
				    </div>
				</div>
				<img class="profile_img" id="my_img" src="">
			</div>
			<!-- <div class="border"></div> -->
			<div class="nav_menu">
  				<a href="#news">News</a>
				<a href="#home">Messages</a>
  				<a href="#contact">Contact</a>
  				<a href="#about">About</a>
  				<a href="#lalaland" class="expansion">...</a>
			</div>
			<div class="content">
				<div class="container left" id="prev_msg_container" onscroll="dlgsContainerScroll(this);">
					<div id="end_container" class="prev_msg_end_container" >
						...
					</div>
				</div>
				<div class="container right" id="cRight">
					<div class="messages" id="msg_container" onscroll="msgContainerScroll(this);">

					</div>
					<div class="send_msg_block">
						<div class="rotate_block">
							<form action="" method="post" class="main_form" onsubmit="return false;" onkeypress="ctrlEnter(event, this);">
								<div class="top_msg_textarea">

								</div>
								<textarea type="text" id="msgtxt" name="msg" placeholder="Your message..."></textarea>
								<div class="send_btn">
									<input type="submit" name="sbm" value="send" class="send_btn_input" onclick="sendMsg(document.getElementById('rec_id').value,document.getElementById('msgtxt').value); return false;">
								</div>
								<input type="hidden" id="rec_id" name="recipient_id" >
								<div class="msg_tools">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="footer"></div> -->
		</div>
	</body>
</html>